@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: roboto;
    margin: 0;
}

.wrapper-main {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    margin-top: 0;
    height: 60px;
    padding: 0 100px;
    align-items: center;
    color: #e5e7eb;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 30px 100px 100px 100px;
    gap: 40px;
}

.hero-text {
    width: 450px;
}

.hero-img {
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #656669ff;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

p {
   color: #e5e7eb;
   font-size: 18px; 
   margin: 0;
}

button {
    margin-top: 5px;
    color: #e5e7eb;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.info-text {
    font-size: 18px;
    color: #000;
    text-align: center;
}

.box {
    width: 175px;
    height: 175px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 20px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;

}

.quote-1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;

}

.author {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    align-self: flex-end;
    padding-right: 40px;
}

.call-2-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 175px;
    background-color: #3882F6;
    border-radius: 10px;
    height: 100px;
    gap: 40px;
}

h3 {
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.call-button {
    border: 2px solid #f9faf8;
    color: #f9faf8;
}

.white-p {
    color: #f9faf8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
}