@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: roboto;
    margin: 0;
}

.wrapper-main {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    margin-top: 0;
    height: 60px;
    padding: 0 100px;
    align-items: center;
    color: #e5e7eb;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 30px 100px 100px 100px;
    gap: 40px;
}

.hero-text {
    width: 450px;
}

.hero-img {
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #656669ff;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
   color: #e5e7eb;
   font-size: 18px; 
   margin: 0;
}

button {
    margin-top: 5px;
    color: #e5e7eb;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    
}